<div id='middle'>
  <img src='images/beer.png' width='40%' alt='beer' />
  <button>
    <a href='/beers'>Check the Beers!</a>
  </button>
  <button>
    <a href='/random-beer'>Check a Random Beer</a>
  </button>
</div>