<div>
    <h3>Random Beer !!</h3>

    {{#each this.randomBeer}}

        {{>beerpartial this}}
        {{#each this.food_pairing}}
            <li>{{this}}</li>
        {{/each}}
        <br>
        {{this.brewers_tips}}

    {{/each}}

</div>